<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.dao.CourseDao">

    <resultMap id="previewCourseList" type="com.imooc.entity.Course">
        <id column="course_id" property="courseId"></id>
        <result column="cover" property="cover"></result>
        <result column="course_name" property="courseName"></result>
        <result column="course_about" property="courseAbout"></result>
        <result column="author" property="author"></result>
        <result column="type_id" property="typeId"></result>
        <result column="course_level" property="courseLevel"></result>
        <result column="price" property="price"></result>
        <result column="isfree" property="isfree"></result>
        <result column="courseCreateTime" property="createTime"></result>
        <result column="course_status" property="courseStatus"></result>
        <result column="number_of_students" property="numberOfStudents"></result>
        <association property="employeeInfo" javaType="com.imooc.entity.EmployeeInfo">
            <id column="employee_id" property="employeeId"></id>
            <result column="employee_name" property="employeeName"></result>
            <result column="photo" property="photo"></result>
            <association property="position" javaType="com.imooc.entity.Position">
                <id column="position_id" property="positionId"></id>
                <result column="position_name" property="positionName"></result>
            </association>
        </association>
        <association property="direction" javaType="com.imooc.entity.Direction">
            <id column="direction_id" property="directionId"></id>
            <result column="direction_name" property="directionName"></result>
            <result column="direction_isenable" property="directionIsenable"></result>
        </association>
        <association property="type" javaType="com.imooc.entity.Type">
            <id column="type_id" property="typeId"></id>
            <result column="type_name" property="typeName"></result>
            <result column="type_isenable" property="typeIsenable"></result>
        </association>
        <collection property="datasList" ofType="com.imooc.entity.Datas">
            <id column="data_id" property="dataId"></id>
            <result column="data_name" property="dataName"></result>
            <result column="data_url" property="dataUrl"></result>
            <result column="dataCretime" property="createTime"></result>
        </collection>
        <collection property="chapterList" ofType="com.imooc.entity.Chapter">
            <id column="chapter_id" property="chapterId"></id>
            <result column="chapter_name" property="chapterName"></result>
            <result column="chapter_about" property="chapterAbout"></result>
            <result column="chapter_type" property="chapterType"></result>
            <result column="chapterCreateTime" property="createTime"></result>
            <collection property="videoList" ofType="com.imooc.entity.Video">
                <id column="video_id" property="videoId"></id>
                <result column="video_name" property="videoName"></result>
                <result column="video_url" property="videoUrl"></result>
                <result column="try_and_see" property="tryAndSee"></result>
                <result column="duration" property="duration"></result>
                <result column="videoCreateTime" property="createTime"></result>
                <result column="video_isenable" property="videoIsenable"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="previewCourse" resultMap="previewCourseList">
        SELECT
            course.course_id,
            course.cover,
            course.course_name,
            course.course_about,
            course.author,
            course.course_level,
            course.price,
            course.isfree,
            course.create_time AS courseCreateTime,
            course.course_status,
            (SELECT COUNT(1) FROM my_course WHERE my_course.course_id = course.course_id) AS number_of_students,
            employee_info.employee_id,
            employee_info.employee_name,
            employee_info.photo,
            position.position_id,
            position.position_name,
            data.data_id,
            data.data_name,
            data.data_url,
            data.create_time AS dataCreateTime,
            chapter.chapter_id,
            chapter.chapter_name,
            chapter.chapter_about,
            chapter.chapter_type,
            chapter.chapter_resource,
            chapter.create_time AS chapterCreateTime,
            video.video_id,
            video.video_name,
            video.video_url,
            video.try_and_see,
            video.duration,
            video.chapter_id,
            video.create_time AS videoCreateTime,
            video.video_isenable,
            direction.direction_id,
            direction.direction_name,
            direction.direction_isenable,
            type.type_id,
            type.type_name,
            type.type_isenable
        FROM course
        LEFT JOIN employee_info
        ON employee_info.employee_id = course.author
        LEFT JOIN position
        ON employee_info.position_id = position.position_id
        LEFT JOIN type
        ON type.type_id = course.type_id
        LEFT JOIN direction
        ON direction.direction_id = type.direction_id
        LEFT JOIN data
        ON data.course_id = course.course_id
        LEFT JOIN chapter
        ON chapter.chapter_resource = course.course_id
        LEFT JOIN video
        ON video.chapter_id = chapter.chapter_id
        WHERE course.course_id = #{courseId}
        ORDER BY chapter.create_time ASC,video.create_time ASC,data.create_time ASC
    </select>

    <resultMap id="courseManageList" type="com.imooc.entity.Course">
        <id column="course_id" property="courseId"></id>
        <result column="cover" property="cover"></result>
        <result column="course_name" property="courseName"></result>
        <result column="course_about" property="courseAbout"></result>
        <result column="author" property="author"></result>
        <result column="type_id" property="typeId"></result>
        <result column="course_level" property="courseLevel"></result>
        <result column="isfree" property="isfree"></result>
        <result column="price" property="price"></result>
        <result column="create_time" property="createTime"></result>
        <result column="course_status" property="courseStatus"></result>
        <association property="employeeInfo" javaType="com.imooc.entity.EmployeeInfo">
            <id column="employee_id" property="employeeId"></id>
            <result column="employee_name" property="employeeName"></result>
            <result column="photo" property="photo"></result>
        </association>
        <association property="direction" javaType="com.imooc.entity.Direction">
            <id column="direction_id" property="directionId"></id>
            <result column="direction_name" property="directionName"></result>
            <result column="direction_isenable" property="directionIsenable"></result>
        </association>
        <association property="type" javaType="com.imooc.entity.Type">
            <id column="type_id" property="typeId"></id>
            <result column="type_name" property="typeName"></result>
            <result column="type_isenable" property="typeIsenable"></result>
        </association>
    </resultMap>

    <select id="courseManage" resultMap="courseManageList">
        SELECT
            course.course_id,
            course.cover,
            course.course_name,
            course.course_about,
            course.author,
            course.course_level,
            course.isfree,
            course.price,
            course.create_time,
            course.course_status,
            employee_info.employee_id,
            employee_info.employee_name,
            employee_info.photo,
            direction.direction_id,
            direction.direction_name,
            direction.direction_isenable,
            type.type_id,
            type.type_name,
            type.type_isenable
        FROM course
        LEFT JOIN employee_info
        ON employee_info.employee_id = course.author
        LEFT JOIN type
        ON type.type_id = course.type_id
        LEFT JOIN direction
        ON direction.direction_id = type.direction_id
        ${ew.customSqlsegment}
    </select>

    <resultMap id="courseList" type="java.util.Map">
        <id column="course_id" property="courseId" javaType="java.lang.String"></id>
        <result column="cover" property="cover" javaType="java.lang.String"></result>
        <result column="course_name" property="courseName" javaType="java.lang.String"></result>
        <result column="course_about" property="courseAbout" javaType="java.lang.String"></result>
        <result column="author" property="author" javaType="java.lang.String"></result>
        <result column="number_of_students" property="numberOfStudents" javaType="java.lang.Integer"></result>
        <result column="type_id" property="typeId" javaType="java.lang.String"></result>
        <result column="course_level" property="courseLevel" javaType="java.lang.Integer"></result>
        <result column="price" property="price" javaType="java.math.BigDecimal"></result>
        <result column="isfree" property="isfree" javaType="java.lang.Integer"></result>
        <result column="create_time" property="createTime" javaType="java.sql.Date"></result>
        <result column="course_status" property="courseStatus" javaType="java.lang.Integer"></result>
        <result column="evaluates" property="evaluates" javaType="java.lang.Integer"></result>
    </resultMap>

    <!-- 按照多个条件进行查询课程，是否按照课程方向查找，是否付费、查询条数、是否最新、是否学习人数最多、是否按照最新和学习人数 -->
    <select id="findCourseByCondition" resultMap="courseList">
        SELECT
        course.*,
        (SELECT COUNT(1) FROM my_course WHERE my_course.course_id = course.course_id) AS number_of_students,
        (SELECT COUNT(1) FROM evaluate WHERE evaluate_be_resource = course.course_id) AS evaluates
        FROM course
        WHERE course.isfree = #{isfree}
        AND course.course_status = 2
        <if test="null != directionId">
            AND course.type_id IN (SELECT type.type_id FROM type WHERE type.direction_id = #{directionId} AND
            type.type_isenable = 0)
        </if>
        <if test="null != num">
            AND ROWNUM &lt; #{num}
        </if>
        <if test="news != false and numberOfStudents == false">
            ORDER BY course.create_time DESC
        </if>
        <if test="numberOfStudents != false and news == false">
            ORDER BY number_of_students DESC
        </if>
        <if test="news == true and numberOfStudents == true">
            ORDER BY course.create_time DESC,number_of_students DESC
        </if>
    </select>

    <!-- 查询指定的课程根据 方向、类别、难度 -->
    <select id="findAssignCourse" resultMap="courseList">
        SELECT
        course.*,
        (SELECT COUNT(1) FROM my_course WHERE my_course.course_id = course.course_id) AS number_of_students,
        (SELECT COUNT(1) FROM evaluate WHERE evaluate_be_resource = course.course_id) AS evaluates
        FROM course
        WHERE course.isfree = #{isfree}
        AND course.course_status = 2
        <if test="null != directionId">
            AND course.type_id IN (SELECT type.type_id FROM type WHERE type.direction_id = #{directionId} AND
            type.type_isenable = 0)
        </if>
        <if test="null != typeId">
            AND course.type_id = #{typeId}
        </if>
        <if test="null != level">
            AND course.course_level = #{level}
        </if>
        ORDER BY course.create_time DESC
    </select>
</mapper>
