<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.dao.CustomerDao">
    <select id="findByCustomerId" resultType="com.imooc.entity.Customer">
        select * from customer where customer_id = #{customerId}
    </select>

    <select id="findPosition" resultType="com.imooc.entity.Customer">
        select c.*,p.position_name as positionName from customer c left join customer_position p on c.position_id = p.position_id
    </select>
</mapper>