<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.dao.DirectionDao">

    <resultMap id="directionList" type="com.imooc.entity.Direction">
        <id column="direction_id" property="directionId"></id>
        <id column="direction_name" property="directionName"></id>
        <id column="direction_isenable" property="directionIsenable"></id>
        <collection property="types" javaType="com.imooc.entity.Type"></collection>
    </resultMap>

    <select id="pagingFindAll" resultMap="directionList">
        SELECT
            d.direction_id,
            d.direction_name,
            d.direction_isenable
            t.type_id,
            t.type_name,
            t.type_isenable
        FROM direction d
        LEFT join type t
        ON d.direction_id = t.direction_id
    </select>
</mapper>
