<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.dao.EmployeeInfoDao">
    <select id="findByUsername" resultType="com.imooc.entity.EmployeeInfo">
        SELECT
            e.employee_id as employeeId,
            e.employee_name as employeeName,
            e.photo as photo,
            e.position_id as positionId
        FROM employee_info e
        WHERE e.account_number_id = (SELECT account_number_id FROM account_number WHERE username = #{username})
    </select>
</mapper>
